
<button class="btn peach-gradient"  (click)="redirectpaquet()">Services Paquets</button>
<button class="btn purple-gradient" (click)="redirectclient()">Services Clients</button>
<button class="btn blue-gradient" (click)="redirectUtilisateur()">Services Employés </button>
<table class="table table-striped table-bordered table-sm">
  <thead>

  <tr>
    <th class="th-sm" >Numéro du client
    </th>
    <th class="th-sm" >Nom
    </th>
    <th class="th-sm">Prenom
    </th>
    <th class="th-sm">email

    <th class="th-sm">Adresse
    </th>
    <th class="th-sm">Téléphone
    </th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let client of cliList">
    <td>{{client.numeroCli}}</td>
    <td>{{client.nom}}</td>
    <td>{{client.prenom}}</td>
    <td>{{client.email}}</td>
    <td>{{client.adresse}}</td>
    <td>{{client.telephone}}</td>
  </tr>
  </tbody>

  <!--  <h5>Liste de utilisateurs:</h5>-->
  <!--  <div *ngFor="let user of userlist">-->
  <!--    <ul>-->
  <!--    <li>{{user.iduser}}</li>-->

  <!--      <li>{{user.nom}}</li>-->

  <!--      <li>{{user.username}}</li>-->

  <!--      <li>{{user.email}}</li>-->

  <!--      <li>{{user.password}}</li>-->

  <!--    </ul>-->
  <!--  </div>-->

</table>
