<!--Main Navigation-->
<div class="container">
  <router-outlet></router-outlet>
</div>
<button class="btn peach-gradient"  (click)="redirectpaquet()">Services Paquets</button>
<button class="btn purple-gradient" (click)="redirectclient()">Services Clients</button>
<button class="btn blue-gradient" (click)="redirectUtilisateur()">Services Utilisateurs </button>
<!--<button class="btn aqua-gradient">Aqua</button>-->
<!--<header>-->

<!--  <nav class="navbar fixed-top navbar-expand-lg navbar-dark pink scrolling-navbar">-->
<!--    <a class="navbar-brand" href="#"><strong>Navbar</strong></a>-->
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"-->
<!--            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--      <ul class="navbar-nav mr-auto justify-content-center">-->
<!--        <li class="nav-item active">-->
<!--          <a class="nav-link" routerLink="home" >Home <span class="sr-only">(current)</span></a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" routerLink="paquets" >Services Paquets</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" routerLink="client-send" >Services Clients</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" routerLink="user-admin" >Les utilisateurs</a>-->
<!--        </li>-->
<!--        <li class="nav-item ">-->
<!--          <a class="nav-link"  routerLink="user" >Se connecter</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" routerLink="user" >Se Deconnecter</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--      <ul class="navbar-nav nav-flex-icons">-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link"><i class="fab fa-facebook-f"></i></a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link"><i class="fab fa-twitter"></i></a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link"><i class="fab fa-instagram"></i></a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </nav>-->

<!--</header>-->
<!--Main Navigation-->
