
<nav class="navbar navbar-expand-sm bg-primary navbar-dark bg-dark border border-light p-3" >
  <div class="navbar-nav"><a  routerLink="home"  class="nav-link" >Home
  </a>
  <ul class="navbar-nav">
    <div [ngSwitch] ="isloged()">
      <a   *ngSwitchCase="true" routerLink="deconnecter" (click)="logout()"  class="nav-link" >Se Deconnecter
      </a>

      <a  *ngSwitchCase="false" routerLink="login"   class="nav-link"  >Se connecter
      </a>

    </div>
  </ul>
  </div>
</nav>
<div>
<router-outlet></router-outlet>
</div>

