
<app-page></app-page>
<p>
   Liste des employés
</p>
<!--<app-user-list></app-user-list>-->

<p>Employer existe pas?
  <a routerLink="registre" (click)="ajoutEmpl()">Ajouter un employé</a>

</p>

<p> La liste des utilisateurs
  <a routerLink="registre" (click)="visualiser()">Utilisateurs</a>

</p>
<!--<button type="button" class="btn btn-info" (click)="employebt()">Liste Employés</button>-->
<!--<button class="btn peach-gradient"  (click)="ajoutEmpl()">Ajouter un employé</button>-->
<!--<button class="btn purple-gradient" (click)="ajoutRole()">Ajouter les roles</button>-->
<!--<button class="btn peach-gradient"  (click)="ajoutGroupe()">Ajouter les groupes</button>-->
<!--<button class="btn purple-gradient" (click)="ajoutUserRole()">Ajouter les permissions</button>-->
<!--<app-user-list></app-user-list>-->
<p><app-groupe></app-groupe></p>
<p><app-role></app-role></p>
<app-userroles></app-userroles>
<!--<div class="container">-->
<!--  <div class="btn-group">-->
<!--    <button id="page1" type="button" data-toggle="modal" data-target=".modal" data-remote="1" class="btn btn-primary">Page 1</button>-->
<!--    <button id="page2" type="button" data-toggle="modal" data-target=".modal" data-remote="2" class="btn btn-primary">Page 2</button>-->
<!--    <button id="page3" type="button" data-toggle="modal" data-target=".modal" data-remote="3" class="btn btn-primary">Page 3</button>-->
<!--  </div>-->
<!--  <div class="modal fade" id="infos">-->
<!--    <div class="modal-dialog">-->
<!--      <div class="modal-content"></div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

